$colorBlack: #333333;
$colorGray: #828282;
$colorLightGray: #e0e0e0;
$colorWhite: #ffffff;
$colorBlue: #2f80ed;
$colorRed: #eb5757;

$sizeBigHeader: 3.6rem;
$sizeHeader: 2.4rem;
$sizeSubTitle: 1.8rem;
$sizeText: 1.6rem;
$sizeInfo: 1.4rem;
