@import "./mixins";
@import "./vars";

.loginContainer {
  width: 33%;
  min-width: 475px;
  max-width: 700px;
  padding: 42px 58px;
  border: 1px solid $colorGray;
  border-radius: 24px;
  .logo {
    margin-bottom: 30px;
    svg {
      width: 170px;
      height: 30px;
    }
  }
  .textContent {
    margin-bottom: 35px;
    h3 {
      margin-bottom: 14.5px;
      font-weight: 600;
      font-size: $sizeSubTitle;
    }
    p {
      font-size: $sizeText;
    }
  }
  .errorMessage {
    opacity: 0;
    margin-bottom: 15px;
    background-color: rgba($color: $colorRed, $alpha: 0.65);
    padding: 12px 15px;
    border: 2px solid rgba($color: $colorRed, $alpha: 0.8);
    border-radius: 10px;
    h1 {
      font-weight: 500;
      color: $colorWhite;
      font-size: $sizeSubTitle;
    }
    transition: opacity 0.25s ease;
  }
  .formContainer {
    @include flex(center, center);
    margin-bottom: 30px;
    flex-direction: column;
    .inputElement {
      position: relative;
      width: 100%;

      input {
        &:focus {
          border-radius: 2px;
          border-color: $colorBlack;
        }
        &:valid {
          border-color: $colorBlue;
          border-radius: 2px;
        }
        transition: border-radius 0.2s ease-in;
        width: 100%;
        padding: 13px 46px;
        font-size: $sizeText;
        border: 1px solid $colorGray;
        border-radius: 8px;
        margin-bottom: 14.5px;
        outline: none;
      }
      i {
        font-size: 24.5px;
        top: 15px;
        left: 12.5px;
        position: absolute;
        color: $colorGray;
      }
    }
    button {
      margin-top: 20px;
      &:hover {
        background-color: $colorBlack;
      }
      &:active {
        background-color: $colorBlue;
      }
      width: 100%;
      font-size: $sizeText;
      font-weight: bold;
      color: $colorWhite;
      background-color: $colorBlue;
      padding: 10px 0;
      border: none;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      transition: background-color 0.25s ease;
    }
  }
  .contentBelow {
    @include flex(space-between, center);
    margin-top: 30px;
    flex-direction: column;
    height: 120px;
    .alternativeLogins {
      @include flex(initial, center);

      svg {
        &:hover {
          fill: rgba(199, 199, 199, 0.637);
        }
        fill: transparent;
        margin: 0 15px;
        cursor: pointer;
        transition: fill 0.25s ease;
      }
    }
    p {
      font-size: $sizeInfo;
      color: $colorGray;
    }
    a {
      text-decoration: none;
      color: $colorBlue;
      opacity: 0.9;
    }
  }
}

@media only screen and (max-width: 768px) {
  .loginContainer {
    @include flex(space-between, center);
    flex-direction: column;
    padding: 18px;

    min-width: initial;
    max-width: initial;
    width: 100%;
    height: 100%;
    border: none;
    .logo {
      align-self: flex-start;
    }
    .textContent {
      width: 100%;
    }

    .formContainer {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 425px) {
  .loginContainer {
    .formContainer {
      .inputElement {
        i {
          top: 12px;
        }
      }
    }
  }
}
