@import "./mixins";
@import "./vars";

.profileIcon {
  height: 45px;
  width: 45px;
  border-radius: 100%;
}

.headerContainer {
  @include flex(space-between, center);
  position: relative;
  padding: 27px 5px;
  margin-bottom: 45px;
  .dropDownContainer {
    position: absolute;
    transform: translateY(-20px);
    pointer-events: none;
    opacity: 0;
    bottom: -155px;
    right: 15px;
    background-color: $colorWhite;
    border: 1px solid $colorLightGray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 12px 15px;
    transition: transform 0.25s ease, opacity 0.25s ease-in;
    .pathOptions {
      .pathOptionsElement {
        @include flex(flex-start, center);
        &:hover {
          background-color: $colorLightGray;
        }
        &:last-of-type {
          margin-bottom: 10px;
        }
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
        color: $colorBlack;
        padding: 8px 0;
        padding-right: 55px;
        padding-left: 15px;
        border-radius: 8px;
        margin-bottom: 5px;
        p {
          height: 19px;
          font-size: 12px;
          color: $colorBlack;
          font-weight: 500;
          margin-left: 10px;
        }
        i {
          font-size: 20px;
        }
      }
    }
    .logoutButton {
      @extend .pathOptions;
      margin-top: 10px;
      .pathOptionsElement {
        &:hover {
          background-color: $colorRed;
          color: $colorWhite;
        }
        &:hover p {
          color: $colorWhite;
        }
        p {
          color: $colorRed;
          transition: color 0.2s ease;
        }
        color: $colorRed;
      }
    }
  }

  .profileIconContainer {
    @include flex(initial, center);

    p {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      font-weight: 700;
      margin-right: 25px;
      margin-left: 15px;
    }
    i {
      user-select: none;
      color: $colorBlack;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }
}

.profileMainContainer {
  @include flex(center, center);
  flex-direction: column;
  .titleProfile {
    @include flex(center, center);
    flex-direction: column;
    margin-bottom: 45px;
    h1 {
      font-size: $sizeBigHeader;
      font-weight: 400;
      margin-bottom: 8px;
    }
    p {
      font-size: $sizeSubTitle;
    }
  }
  .profileInfoContainer {
    @include flex(initial, initial);
    flex-direction: column;
    width: 70%;
    margin-bottom: 50px;
    border: 1px solid $colorLightGray;
    border-radius: 12px;
    .infoHeader {
      @include flex(space-between, center);
      padding: 28px 48px;
      .headerText {
        h1 {
          font-size: $sizeHeader;
          font-weight: 400;
          margin-bottom: 5px;
        }
        p {
          font-size: $sizeText;
          font-weight: 500;
          color: $colorGray;
        }
      }

      .editButton {
        width: 95px;
        height: 40px;
        button {
          &:hover {
            color: $colorWhite;
            background-color: $colorGray;
          }
          width: 100%;
          height: 100%;
          font-weight: 500;
          font-size: $sizeText;
          color: $colorGray;
          border: 1px solid $colorGray;
          border-radius: 12px;
          background: none;
          cursor: pointer;
          outline: none;
          transition: color 0.15s ease, background-color 0.15s ease-out;
        }
      }
    }
    .infoRow {
      @extend .infoHeader;
      justify-content: initial;
      border-top: 1px solid $colorLightGray;

      .rightSideContent {
        h2 {
          width: 80px;
          color: $colorGray;
          opacity: 0.8;
          text-transform: uppercase;
          font-weight: 500;
          font-size: $sizeText;
        }
        margin-right: clamp(150px, 20vw, 240px);
      }
      .leftSideContent {
        overflow: hidden;
        h1 {
          text-overflow: ellipsis;
          overflow: hidden;
          color: $colorBlack;
          font-size: $sizeSubTitle;
          font-weight: 500;
        }
      }
      .profileIcon {
        height: 72px;
        width: 72px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    margin-bottom: 5px;
    .logo {
      svg {
        width: 165px;
      }
    }
    .profileIconContainer {
      p {
        display: none;
      }
      i {
        border-radius: 2px;
        font-size: $sizeBigHeader;
        margin-left: 10px;
      }
    }
  }
  .profileMainContainer {
    .profileInfoContainer {
      width: 100%;
      border: none;
      .infoHeader {
        padding: 28px 15px;
        .headerText {
          p {
            width: 75%;
          }
        }
      }
      .infoRow {
        justify-content: space-between;
        border-top: initial;
        border-bottom: 1px solid $colorLightGray;
        .rightSideContent {
          margin: 0;
        }
      }
    }
  }
}
