@import "./mixins";
@import "./vars";

.profileIcon {
  height: 45px;
  width: 45px;
  margin-right: 13px;
  background-color: $colorGray;
  border-radius: 8px;
}

.headerContainer {
  @include flex(space-between, center);
  padding: 27px 15px;
  margin-bottom: 45px;
  .profileIconContainer {
    @include flex(initial, center);
    width: 185px;

    p {
      font-size: 12px;
      font-weight: 700;
      margin-right: 25px;
    }
    i {
      &:hover {
        transform-origin: top;
        transform: translateY(5px);
      }
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }
}

.profileMainContainer {
  @include flex(center, center);
  flex-direction: column;
  .titleProfile {
    @include flex(center, center);
    flex-direction: column;
    margin-bottom: 45px;
    h1 {
      font-size: $sizeBigHeader;
      font-weight: 400;
      margin-bottom: 8px;
    }
    p {
      font-size: $sizeSubTitle;
    }
  }
  .profileInfoContainer {
    @include flex(initial, initial);
    flex-direction: column;
    width: 70%;
    margin-bottom: 50px;
    border: 1px solid $colorLightGray;
    border-radius: 12px;
    .infoHeader {
      @include flex(space-between, center);
      padding: 28px 48px;
      .headerText {
        h1 {
          font-size: $sizeHeader;
          font-weight: 400;
          margin-bottom: 5px;
        }
        p {
          font-size: $sizeText;
          font-weight: 500;
          color: $colorGray;
        }
      }

      .editButton {
        width: 95px;
        height: 40px;
        button {
          &:hover {
            color: $colorWhite;
            background-color: $colorGray;
          }
          width: 100%;
          height: 100%;
          font-weight: 500;
          font-size: $sizeText;
          color: $colorGray;
          border: 1px solid $colorGray;
          border-radius: 12px;
          background: none;
          cursor: pointer;
          outline: none;
          transition: color 0.15s ease, background-color 0.15s ease-out;
        }
      }
    }
    .infoRow {
      @extend .infoHeader;
      justify-content: initial;
      border-top: 1px solid $colorLightGray;

      .rightSideContent {
        h2 {
          width: 80px;
          color: $colorGray;
          opacity: 0.8;
          text-transform: uppercase;
          font-weight: 500;
          font-size: $sizeText;
        }
        margin-right: 180px;
      }
      .leftSideContent {
        h1 {
          color: $colorBlack;
          font-size: $sizeSubTitle;
          font-weight: 500;
        }
      }
      .profileIcon {
        height: 72px;
        width: 72px;
      }
    }
  }
}
