@import "./mixins";
@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  height: 100vh;
  background-color: #fafafb;
}

#__next {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

.container {
  @include flex(center, center);
  flex-direction: column;
  height: 100%;
}

.profile-container {
  max-width: 1440px;
  margin: auto;
}

.toggle {
  opacity: 1 !important;
  pointer-events: all !important;
  transform: translateY(0) !important;
}

@media only screen and (max-width: 428px) {
  :root {
    font-size: 52%;
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  body,
  div {
    background-color: #1f1f20 !important;
    border-color: #828282 !important;
  }

  h1,
  h2,
  h3,
  i,
  a,
  label,
  p {
    color: #f8ffff !important;
  }

  input,
  textarea,
  button {
    color: $colorWhite;
    border: 1px solid #828282 !important;
    background-color: #121212 !important;
  }
}
